[run]
omit = 
    apps/wallet.py
    src/web/Frontend/*
    src/kremlin/tab_ui/*
    src/kremlin/theme.py
    src/kremlin/ui_utils.py
    src/kremlin/ui_state.py
    src/tsarchain/miner/cosmetic/*
    src/archivist/cosmetic_archivist/*